:root {
  --color-rectangle-4341: rgba(243, 245, 249, 1);
  --color-rectangle-4347: rgba(227, 240, 243, 1);
  --font-timo-meyvisch-size: 22px;
  --font-timo-meyvisch-family: Poppins;
  --font-timo-meyvisch-weight: 500;
  --font-timo-meyvisch-line-height: 35.20000076293945px;
  --font-173-icons-size: 40px;
  --font-173-icons-family: Poppins;
  --font-173-icons-weight: 600;
  --font-173-icons-line-height: 44px;
  --font-173-icons-letter-spacing: 1.6px;
  --font-3d-icons-business-pack-size: 80px;
  --font-3d-icons-business-pack-family: Poppins;
  --font-3d-icons-business-pack-weight: 700;
  --font-3d-icons-business-pack-line-height: 88px;
  --font-all-icons-in-3-styles-size: 48px;
  --font-all-icons-in-3-styles-family: Poppins;
  --font-all-icons-in-3-styles-weight: 700;
  --font-all-icons-in-3-styles-line-height: 52.80000305175781px;
  --font-png-size: 32px;
  --font-png-family: Poppins;
  --font-png-weight: 500;
  --font-png-line-height: 35.20000076293945px;
  --font-/-size: 32px;
  --font-/-family: Poppins;
  --font-/-weight: 500;
  --font-/-line-height: 35.20000076293945px;
  --font-1024-x-1024-px-size: 32px;
  --font-1024-x-1024-px-family: Poppins;
  --font-1024-x-1024-px-weight: 500;
  --font-1024-x-1024-px-line-height: 35.20000076293945px;
  --font-let’s-connect!-size: 80px;
  --font-let’s-connect!-family: Poppins;
  --font-let’s-connect!-weight: 700;
  --font-let’s-connect!-line-height: 88px;
  --font-join-my-design-journey!-click-on-one-of-the-links-to-follow-or-get-in-touch-with-me.-size: 32px;
  --font-join-my-design-journey!-click-on-one-of-the-links-to-follow-or-get-in-touch-with-me.-family: Poppins;
  --font-join-my-design-journey!-click-on-one-of-the-links-to-follow-or-get-in-touch-with-me.-weight: 500;
  --font-join-my-design-journey!-click-on-one-of-the-links-to-follow-or-get-in-touch-with-me.-line-height: 44.79999923706055px;
  --font-linkedin-size: 18px;
  --font-linkedin-family: Poppins;
  --font-linkedin-weight: 500;
  --font-linkedin-line-height: 28.80000114440918px;
  --font-figma-size: 18px;
  --font-figma-family: Poppins;
  --font-figma-weight: 500;
  --font-figma-line-height: 28.80000114440918px;
  --font-instagram-size: 18px;
  --font-instagram-family: Poppins;
  --font-instagram-weight: 500;
  --font-instagram-line-height: 28.80000114440918px;
  --font-pinterest-size: 18px;
  --font-pinterest-family: Poppins;
  --font-pinterest-weight: 500;
  --font-pinterest-line-height: 28.80000114440918px;
  --font-boost-business-with-cashease-atm’s-size: 72px;
  --font-boost-business-with-cashease-atm’s-family: Poppins;
  --font-boost-business-with-cashease-atm’s-weight: 600;
  --font-boost-business-with-cashease-atm’s-line-height: 79.20000457763672px;
  --font-our-atm-machines-are-designed-to-drive-more-customers,-increase-revenue,-and-provide-an-unmatched-level-of-convenience.-join-the-future-of-financial-convenience.-size: 22px;
  --font-our-atm-machines-are-designed-to-drive-more-customers,-increase-revenue,-and-provide-an-unmatched-level-of-convenience.-join-the-future-of-financial-convenience.-family: Poppins;
  --font-our-atm-machines-are-designed-to-drive-more-customers,-increase-revenue,-and-provide-an-unmatched-level-of-convenience.-join-the-future-of-financial-convenience.-weight: 500;
  --font-our-atm-machines-are-designed-to-drive-more-customers,-increase-revenue,-and-provide-an-unmatched-level-of-convenience.-join-the-future-of-financial-convenience.-line-height: 35.20000076293945px;
  --font-get-started-now-size: 22px;
  --font-get-started-now-family: Poppins;
  --font-get-started-now-weight: 700;
  --font-get-started-now-line-height: 35.20000076293945px;
  --font-futuristic-living-smart-city-solutions-size: 63px;
  --font-futuristic-living-smart-city-solutions-family: Poppins;
  --font-futuristic-living-smart-city-solutions-weight: 600;
  --font-futuristic-living-smart-city-solutions-line-height: 69.30000305175781px;
  --font-experience-the-city-of-tomorrow.-our-innovative-technologies-are-revolutionizing-urban-living,-making-it-smarter,-more-efficient,-and-sustainable.-join-us-in-shaping-the-future.-size: 22px;
  --font-experience-the-city-of-tomorrow.-our-innovative-technologies-are-revolutionizing-urban-living,-making-it-smarter,-more-efficient,-and-sustainable.-join-us-in-shaping-the-future.-family: Poppins;
  --font-experience-the-city-of-tomorrow.-our-innovative-technologies-are-revolutionizing-urban-living,-making-it-smarter,-more-efficient,-and-sustainable.-join-us-in-shaping-the-future.-weight: 500;
  --font-experience-the-city-of-tomorrow.-our-innovative-technologies-are-revolutionizing-urban-living,-making-it-smarter,-more-efficient,-and-sustainable.-join-us-in-shaping-the-future.-line-height: 35.20000076293945px;
  --font-explore-solutions-size: 22px;
  --font-explore-solutions-family: Poppins;
  --font-explore-solutions-weight: 700;
  --font-explore-solutions-line-height: 35.20000076293945px;
  --spacing-frame-503: 73px;
  --spacing-frame-50: 19px;
  --spacing-frame-502: 32px;
  --spacing-frame-500: 10px;
  --padding-frame-500-left: 43px;
  --padding-frame-500-right: 43px;
  --padding-frame-500-top: 20px;
  --padding-frame-500-bottom: 20px;
  --spacing-frame-501: 20px;
  --spacing-frame-511: 69px;
  --spacing-frame-509: 40px;
  --spacing-frame-505: 12px;
  --spacing-frame-506: 12px;
  --spacing-frame-507: 12px;
  --spacing-frame-508: 12px;
  --spacing-frame-52: 40px;
  --spacing-frame-51: 10px;
  --padding-frame-51-left: 30px;
  --padding-frame-51-right: 30px;
  --padding-frame-51-top: 25px;
  --padding-frame-51-bottom: 25px;
}
